.sectionbg{
	margin-top:40px;
	background: #FFFFFF;
	box-shadow: 10px 10px 50px rgba(146, 158, 198, 0.15);
	border-radius: 10px;
	}
.featurepost{
	background: #FFFFFF;
	box-shadow: 10px 10px 50px rgba(146, 158, 198, 0.15);
	border-radius: 10px;
}